<% include header %>
    <form>
        <label for="male">Title</label>
        <input type="text" id="title">
        <label for="male">Band</label>
        <input type="text">
        <label for="male">Url</label>
        <input type="text">
        <input type="submit" value="VALIDER">
    </form>

    </body>

    </html>