<!DOCTYPE html>
<html>

<head>
    <title>Sprindie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="header">
                <img src="/img/logoJaune.svg" alt="">
                <h1>Sprindie</h1>
            </a>
        </nav>
    </header>