<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Sprindie</h1>
    <h2>Spread the indie music</h2>
    <a href="/upload"><input type="button" value="Ajouter une musique"></a>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>

</html>