<% include header %>
    <% if (locals.flash && locals.flash.success){ %>
        <div class="success message">
            <%= flash.success %>
        </div>
        <% } %>
            <div class="musiques">
                <h3>Musiques</h3>
                <ul class="cols-titles">
                    <li>Titre</li>
                    <li>Groupe</li>
                </ul>
                <% for ( song of songs ){%>
                    <div class="test">
                        <ul>
                            <li>
                                <%= song.title %>
                                    <%=  song.band %>
                            </li>
                        </ul>
                    </div>
                    <% } %>
            </div>

            <% include footer %>