<% include header %>

    <div class="cadre">
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="file" class="input-file" name="filetoupload" value="">
            <input type="submit" value="ETAPE SUIVANTE">
        </form>
    </div>

    <% include footer %>