body {
    color: #E8DF0F;
    background-color: #333333;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* HEADER */

header h1 {
    text-transform: uppercase;
}

header nav {
    width: 100%;
    height: 60px;
}

header a {
    width: 40%;
    color: #E8DF0F;
    text-decoration: none;
    display: flex;
}

header img {
    width: 30px;
}


/* FORMULAIRE */

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form label {
    text-align: left;
}